
.header{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
  padding-bottom: 20px;


 
  .nav-link{
    font-weight: bold;
    font-size: 20px;
    color: $color-nav;
  }
  .nav-link:hover{
    color: $color-nav-hover;
  }
  .link-title{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 34px;
  }
  .link-title:hover{
    color:$color-nav;
  }
  .site-description{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 16px;
  }
  .icon-menu{
    color: $color-nav;
  }
  .btn-menu{
    background-color: #082444;
    color:white;
    font-weight: 400;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
}

.btn-color{
  background-color: #09315c;
  border: none;
  color: white;

  
}
.btn-color:hover{
  background-color: #0963c4;
  color: white;
}
.container01{
  display: flex;
  align-items: center;
  background-image: url('..//../img/backgrounkds4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  
  
}
.inner-container2{
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  color: black;
  text-align: left;
  max-width: 800px;
  border-radius: 10px;
  box-shadow:
  0.7px 1.6px 3.6px rgba(0, 0, 0, 0.001),
  1.4px 3.3px 7px rgba(0, 0, 0, 0.004),
  2.4px 5.7px 10.5px rgba(0, 0, 0, 0.007),
  4.1px 9.7px 15.1px rgba(0, 0, 0, 0.013),
  7.9px 18.4px 23.8px rgba(0, 0, 0, 0.022),
  29px 68px 69px rgba(0, 0, 0, 0.05)
  ;

  .title-center{
    font-size: 59px;
    font-weight: bold;
  }

  .text-paragraph{
    font-size: 20px;
  }
}


.footer{
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  padding-left: 23%;

  .text-footer{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: $color-link-footer;
  }
}
@media (max-width: 624px) {
  .header{
    .link-title{
      font-size: 25px;
    }
  }
}
@media (max-width:575px) {
  .header{
    align-items:center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;

    .btn-menu{
      width: 100%;
    }
  }
}
@media (max-width:375px) {
  .container01{
    padding: 0px;
  }
}

@media (max-width:320px) {
  .logoDs4{
    width: 200px;
  }
  .inner-container2{
    margin-left: 0px;
    margin-right: 0px;
    .text-paragraph{
      font-size: 15px;
    }
  }
}
