.info-contact{
  margin-top: 0px;
  background-color: #282828;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: white;
  padding: 100px 20px;
  div{
    display: block;
    width: 300px;
    padding: 15px 0px;
    text-align: left;
    a{
      color: white;
    }
  }
}

.popup-container{
  background-color: rgba(0, 0, 0, 0.509);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0px;
  left:0px ;
  display: none;
  align-items: center;
  justify-content: center;
  
  .popup-contente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 2%;
    background-color: white;
    border-radius: 10px;
    color: black;
    width: 500px;
    min-width: 300px;
    height: 300px;
  }
    
}
