.info-contact{
  margin-top: 0px;
  background-color: #282828;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: white;
  padding: 100px 20px;
  div{
    display: block;
    width: 300px;
    padding: 15px 0px;
    text-align: left;
    a{
      color: white;
    }
  }
}
