.container01{
  display: flex;
  align-items: center;
  background-image: url('..//../img/backgrounkds4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  
  
}
.inner-container2{
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  color: black;
  text-align: left;
  max-width: 800px;
  border-radius: 10px;
  box-shadow:
  0.7px 1.6px 3.6px rgba(0, 0, 0, 0.001),
  1.4px 3.3px 7px rgba(0, 0, 0, 0.004),
  2.4px 5.7px 10.5px rgba(0, 0, 0, 0.007),
  4.1px 9.7px 15.1px rgba(0, 0, 0, 0.013),
  7.9px 18.4px 23.8px rgba(0, 0, 0, 0.022),
  29px 68px 69px rgba(0, 0, 0, 0.05)
;

  .title-center{
    font-size: 59px;
    font-weight: bold;
  }

  .text-paragraph{
    font-size: 20px;
  }
}